In [7]:
import pandas as pd

In [8]:
data = pd.read_csv('KaggleMatches_cleaned.csv')
  
data.to_excel('KaggleMatches_cleaned.xlsx', index=False)

C:\Users\sonia\AppData\Local\Temp\ipykernel_33700\3771774781.py:1: DtypeWarning: Columns (3,8,16) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('KaggleMatches_cleaned.csv')
Exception ignored in: <bound method IPythonKernel._clean_thread_parent_frames of <ipykernel.ipkernel.IPythonKernel object at 0x0000027976430CD0>>
Traceback (most recent call last):
  File "C:\Users\sonia\AppData\Roaming\Python\Python311\site-packages\ipykernel\ipkernel.py", line 770, in _clean_thread_parent_frames
    def _clean_thread_parent_frames(

KeyboardInterrupt:

In [3]:
df = pd.read_csv('KaggleMatches_cleaned.csv')
df.head()

C:\Users\sonia\AppData\Local\Temp\ipykernel_33700\1304611574.py:1: DtypeWarning: Columns (3,8,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('KaggleMatches_cleaned.csv')

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,league
0,2019-M020,Brisbane,Hard,32,A,2018-12-31,300,105453,2.0,0,...,34.0,20.0,14.0,10.0,15.0,9.0,3590.0,16.0,1977.0,atp
1,2019-M020,Brisbane,Hard,32,A,2018-12-31,299,106421,4.0,0,...,36.0,7.0,10.0,10.0,13.0,16.0,1977.0,239.0,200.0,atp
2,2019-M020,Brisbane,Hard,32,A,2018-12-31,298,105453,2.0,0,...,15.0,6.0,8.0,1.0,5.0,9.0,3590.0,40.0,1050.0,atp
3,2019-M020,Brisbane,Hard,32,A,2018-12-31,297,104542,0,PR,...,38.0,9.0,11.0,4.0,6.0,239.0,200.0,31.0,1298.0,atp
4,2019-M020,Brisbane,Hard,32,A,2018-12-31,296,106421,4.0,0,...,46.0,19.0,15.0,2.0,4.0,16.0,1977.0,18.0,1855.0,atp

In [5]:
df1 = pd.read_csv('Openchamps_men_nettoye.csv')
df1.head()

,Unnamed: 0,Year,Champion,Seed_Champion,Ctry_Champion,Runner-up,Seed_Runner-up,Ctry_Runner-up,Score in the Final,Score1_Champion,Score2_Champion,Score3_Champion,Score1_Runner-up,Score2_Runner-up,Score3_Runner-up
0,0,1969,Rod Laver,1,AUS,AndrÃ©s Gimeno,9,ESP,"6â€“3, 6â€“4, 7â€“5",6,6,7,3,4,5
1,1,1970,Arthur Ashe,4,USA,Dick Crealy,12,AUS,"6â€“4, 9â€“7, 6â€“2",6,9,6,4,7,2
2,2,1971,Ken Rosewall,2,AUS,Arthur Ashe,3,USA,"6â€“1, 7â€“5, 6â€“3",6,7,6,1,5,3
3,3,1972,Ken Rosewall,2,AUS,Malcolm Anderson,8,AUS,"7â€“6, 6â€“3, 7â€“5",7,6,7,6,3,5
4,4,1973,John Newcombe,2,AUS,Onny Parun,12,NZL,"6â€“3, 6â€“7, 7â€“5",6,6,7,3,7,5